/*Imports fonts ill be using for this website*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
/*base values for entire website*/
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* varibles */
:root { 
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: #;
    --light-orange-color: #ff7e00;
    --text-color: #1a2428;
    --bg-color: #fff;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}